
# emacs
\#*\#
*~
.\#*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# pytest cache
.cache/v/cache
.cache/v/cache/
/.cache/v/cache/

# idea
.idea/
.idea
/.idea


# API keys
profiles/
profiles/*.csv
profils/*.enc